@import "/styles/colors.scss";

.footer {
    width: 100%;
    padding: 4vh;

    display: grid;
    justify-content: center;
}

.footerLogo {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1vh;

    justify-content: center;
    text-align: center;
}

.footerLogo span {
    color: $color-gray;
    font-size: 11px;
    font-weight: 600; 
}

.footerInfo {
    margin-top: 2vh;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8vh;
}

.colFooterInfo {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    row-gap: 4vh;
}

.colFooterItens {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 2vh;
}

.colFooterInfo h3 {
    color: $color-dark-gray;

    font-size: 16px;
    font-weight: 700;
}

.colFooterInfo h4 {
    color: $color-gray;

    font-size: 14px;
    font-weight: 300;

    cursor: pointer;
}

.colFooterInfo h4:hover {
    color: $color-blue;
}

.social {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    column-gap: 3vh;
}

.icSocial {
    color: $color-gray;

    padding: 0.5vh;

    border-radius: 10px;

    background-color: $color-light-blue;
}

.contato {
    color: $color-gray;
    font-size: 10px;

    display: grid;
    grid-template-rows: repeat(2, max-content);
    row-gap: 2vh;
}

.footerBottomInfo {
    color: $color-gray;
    font-size: 10px;

    margin-top: 6vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15vh;
}

.footerBottomInfo span {
    justify-self: center;
}