@import "/styles/colors.scss";

.galery {
    display: grid;
    justify-self: center;
}

.videos {
    width: min-content;

    padding: 7vh 0vh;

    border-top: 1px solid $color-light-gray;
    border-bottom: 1px solid $color-light-gray;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3vh;
    row-gap: 3vh;
    
    justify-self: center;
}

.pages {
    padding: 4vh;

    display: grid;
    /* columns defined in script */
    column-gap: 2vh;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.page {
    padding: 0.5vh 1vh;

    cursor: pointer;
}

.selected {
    color: $color-blue;

    border: 1px solid $color-blue;
    border-radius: 5px;
}

.slide {
    width: 124vh;
}

/* For other devices */
@media only screen and (max-width: 1300px) {
    .slide {
        width: 135vh;
    }   
}

@media only screen and (max-width: 600px) {
    .videos {
        grid-template-columns: repeat(2, 1fr);    
    }
    
    .slide {
        width: 102vh;
    } 
}