$color-dark-blue: #1c3c50;
$color-blue: #007eff;
$color-light-blue: #f0f8ff;
$color-blue-transparency: rgba(0, 126, 255, 0.5);

$color-light-gray: #c8d4dd;
$color-gray: #838eab;
$color-dark-gray: #3a4251;
$color-transparency: rgba(0, 0, 0, 0.5);