@import "/styles/colors.scss";

/* ---------- Default style ---------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, span {
  cursor: default;
}

/* ---------- Dark theme variations ---------- */
@media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
}
