@import "/styles/colors.scss";

.content {
    display: grid;
}

.selectors {
    width: min-content;

    margin-top: 7vh;

    padding: 2vh;

    display: grid;    
    grid-template-columns: repeat(2, max-content);
    column-gap: 25vh;

    justify-self: center;
    justify-content: center;
    align-items: center;    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    column-gap: 1vh;
}

.select {
    padding: 1vh;

    margin-left: 2vh;

    color: $color-dark-blue;
    background-color: #ffff;

    border: 1px solid $color-dark-blue;
    border-radius: 8px;
}